@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  --primary: #ff3700;
}

body {          
 background: #000000;
  font-family: 'poppins',sans-serif;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 300px;
  z-index: 1000;
}

.logo {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position as needed */
}

.logo img {
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav {
  list-style: none;
  margin:   0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 50px;
  
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover a {
  color: var(--primary);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('images/venom.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}

.banner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative  ;
  max-width: 500px;
  display: none;
  visibility: hidden;
  transform: scale(0);
  transform: 0.5s;
}

.content.active {
  display: block;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;
}

.movie-tittle {
  max-width: 250px;
}

.banner .content h4 {
  color: rgba(255, 255, 255,0.5);
  font-weight: 400;
  font-size: 30px;
}

.banner .content h4 span{
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
  padding-left: 0;
}

.banner .content h4 span:last-child{
  border-right: none;
}

.banner .content h4  span i {
  background: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.banner .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #ffffff;
  margin: 10px 0 20px;
}

.banner .content .button {
  position: relative;
}

.banner .content .button a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--primary);
  color: #ffffff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition:0.5s
  cursor:pointer;
}

.banner .carousel {
  position: relative;
  width: 100%;
  max-width: 950px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner .carousel-box {
  position: relative;
  right: 0px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .carousel .carousel-item img {
  width: 100%;
  height: auto; 
}

.carousel-heading {
  position: absolute;
  top: 150px;
  left: 73%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: underline; 
}


.search {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search input {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 5px 25px 5px 10px;
  font-size: 14px;
  width: 200px;
}

.search input:focus {
  outline: none;
}

.search i {
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
}

.play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1px;
  font-size: 1.2em;
  cursor: pointer !important;
  transition: 0,3s;
}

.play i {
  margin-right: 10px;
  font-size: 40px;
  cursor: pointer !important;
}

.play:hover {
  color: var(--primary);
}
 
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 30px;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border: 1px solid #fff; 
  padding: 10px; 
  border-radius: 5px;
}

.social-icons a {
  color: #fff; 
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ccc; 
}
